@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<hr />

<link href="~/Content/Estilos.css" rel="stylesheet" type="text/css" />
@*<h3>@ViewBag.Message</h3>*@

<address>
    100 Main St <br />
    Laguna Beach CA 92619 <br />
    USA <br />
    @*<abbr title="Phone">P:</abbr>*@
    Phone: +1 714-504-5655
</address>


<p>For all other business enquiries, please contact the appropriate department below.</p>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">SupportOffthelip@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MarketingOffthelip@gmail.com</a>
</address>